<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Directory</title>
</head>
<body>

    <h3>User Directory</h3>
    <hr>

    <table border="1">
    <thead>
    <tr>
        <th>User Name</th>
        <th>Password</th>
        <th>E-mail</th>
    </tr>
    </thead>
        <tbody>
        <tr th:each="tempUser : ${users}">
            <td th:text="${tempUser.username}"></td>
            <td th:text="${tempUser.password}"></td>
            <td th:text="${tempUser.email}"></td>
        </tr>
        </tbody>


    </table>

</body>
</html>